[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.19.4"
pandas = "~=1.1.4"
ase = "~=3.22.1"
# quippy-ase = "0.9.12" # We will install this manually later
notebook = "*"
scikit-learn = "*"
tqdm = "*"
pyqt5 = "*"
torch = "*"
pytorch-lightning = "1.9.2"
imbalanced-learn = "~=0.10.0"
wandb = "~=0.13.10"
setuptools = "~=65.6.3"
umap-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
